extends layout

block headContent

block content
  h3.padded Posts Dashboard
  div#root
    .content 
      each post in locals.postList
        .post  
          .post-author= post.author.authorname
          .post-content= post.content  
          .post-date-created= post.date_creation 
          hr.separator

          form(method="POST")
            .group
              input(type="text" placeholder="Add comment here..." name="content" value=data && data.content(value="")  required)
              input(type="number" style="display: none" name="post_id" value=post.id  required)
              if errors && errors.content
                #titleError.error= errors.content
              button(type="submit") Add
          .post-comments
            if post.comments.length
              each comment in post.comments
                .comment-wrapper
                  .comment
                    .comment-author= comment.author.authorname
                    .comment-content= comment.content
                  .comment-date-creation= comment.date_creation
                  
